[Unit]
# waterworks-backend.service
Description=waterworks-backend
Documentation=https://github.com/senti-iot/waterworks-backend/blob/master/README.md
# After=network.target

[Service]
WorkingDirectory=/srv/nodejs/senti/services/waterworks-backend/production
ExecStart=/usr/local/bin/node server.js
Environment=NODE_PORT=3029
Environment=NODE_ENV=production
Type=simple
Restart=always
# RestartSec=1
StartLimitInterval=0
User=root
Group=root
# KillSignal=SIGQUIT

[Install]
WantedBy=basic.target
